<div class="m-20-v-xs m-10-h-xs">
  <div class="logo m-15-h-xs no-margin-left-xs">
    <a [routerLink]="['/home']">
        <img loading="lazy" src="assets/images/abo_store2.png">
    </a>
  </div>
  <div class="">
    We should add smothing nice here
  </div>
</div>
<div class="navigation-links m-20-v-xs m-10-h-xs">
  <a [routerLink]="[item.link]"
     *ngFor="let item of navMenuService.navigationLinks"
     routerLinkActive="active"
     (click)="navMenuService.closeMobiMenu()">
    <div class="m-15-v-xs">
      {{item.label}}
    </div>
  </a>
</div>
