<div class="col mx-auto product">
    <abo-sale-tag></abo-sale-tag>
    <abo-heart-tag class="pull-right"></abo-heart-tag>
    <div (click)="onClick(product)">
        <div class="img-container">
            <img alt="" class="attachment-shop_catalog " [src]="BUCKET_URI+product.image[0]" />
        </div>
        <div class="pro-details">
            <h3 class="product-title m-20-v-xs">{{product.title}}</h3>
            <span class="price">               
                <span class="current-amount">{{(product.price) | currency}}</span>            
                <span class="discounted-amount">{{product.price | currency}}</span>                 
            </span>
        </div>

    </div>
    <div class="m-20-v-xs">
        <abo-button (abo_click)="addToCart(product)" theme="c1"></abo-button>
    </div>
</div>
