  <mat-stepper [linear]="'Enable linear mode'" #stepper>
    <mat-step [stepControl]="formProduct">
      <form [formGroup]="formProduct">
        <ng-template matStepLabel>Fill out product properties</ng-template>
        <form  [formGroup]="formProduct">
            <mat-form-field class="full-width">
                <mat-label>Product Title</mat-label>
                <input matInput formControlName="title" >
              </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <input matInput formControlName="description">
              </mat-form-field>
            <mat-form-field class="col-sm-6">
                <mat-label>Product Code</mat-label>
                <input matInput formControlName="productCode">
              </mat-form-field>
            <mat-form-field class="col-sm-4 ml-20">
                <mat-label>Price</mat-label>
                <input matInput formControlName="price">
              </mat-form-field>
            <mat-form-field class="col-sm-4 ml-20">
                <mat-label>Quantity</mat-label>
                <input matInput formControlName="quantity">
            </mat-form-field>
            <mat-slide-toggle formControlName="available">Is product available?</mat-slide-toggle>

        </form>
        <div>
          <button mat-button matStepperNext (click)="step1OnClick()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="departmentForm" label="Department">
      <form [formGroup]="departmentForm">
        <h3>Please select a department from the list below, select all that apply</h3>
        <mat-divider></mat-divider>
        <div class="form-group">
            <mat-checkbox *ngFor="let control of departmentsContorls?.controls; let i = index" [formControl]="control | formControl"> 
                {{ departments[i]?.name }}
            </mat-checkbox>
          </div>
        <div>
          <mat-divider></mat-divider>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="step2OnClick()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="categoryForm" label="Category">
      <form [formGroup]="categoryForm">
        <h3>Please select a categories from the list below, select all that apply</h3>
        <mat-divider></mat-divider>
        <div class="form-group">
            <mat-checkbox *ngFor="let categoryControl of categoryContorls?.controls; let i = index" [formControl]="categoryControl | formControl"> 
              {{ categories[i]?.name }}
            </mat-checkbox>
          </div>
        <div>
          <mat-divider></mat-divider>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext (click)="step3OnClick()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="manufacturerForm" label="Manufacturer">
      <form [formGroup]="manufacturerForm">
        <h3>Please select a manufacturer from the list below, select all that apply</h3>
        <mat-divider></mat-divider>
        <div class="form-group">
            <mat-checkbox *ngFor="let manuControl of manuControls?.controls; let i = index" [formControl]="manuControl | formControl"> 
             {{i}} {{ manufacturers[i]?.name }}
            </mat-checkbox>
          </div>
        <div>
          <mat-divider></mat-divider>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext (click)="step4OnClick()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Images</ng-template>
      <form [formGroup]="filesForm">
        <h3>Select Images for the product</h3>
        <mat-divider></mat-divider>
        <div class="form-group">
            <mat-checkbox *ngFor="let fileControl of fileControls?.controls; let i = index" [formControl]="fileControl | formControl"> 
             <img src="https://abostorebucket.s3.af-south-1.amazonaws.com/{{ files[i]?.name  }}" alt="{{ files[i]?.name  }}" height="80px" />
            </mat-checkbox>
          </div>
      </form>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="submit()">{{editMode ? 'Update Product': 'Add Product'}}</button>
      </div>
    </mat-step>
  </mat-stepper>
  