<footer id="site-footer" *ngIf="subTotal">
    <div class="container clearfix">

        <div class="left">
            <h2 class="subtotal">Subtotal: R <span>{{subTotal}}</span></h2>
            <h3 class="tax">Taxes ({{tax}}%): R <span>{{totalTax}}</span></h3>
            <h3 class="shipping">Shipping: R <span>{{shipping}}</span></h3>
        </div>

        <div class="right">
            <h1 class="total">Total: R <span>{{subTotal + shipping + totalTax}}</span></h1>
            <a class="btn">Checkout</a>
        </div>

    </div>
</footer>