<footer *ngIf="subTotal">
    <div><h5><b>Summary</b></h5></div>
    <hr>
    <div class="row">
        <div class="col">TOTAL ITEMS <b class="margin-h-16-xs">{{totalItems}}</b></div>
        <div class="col text-right"><strong>R {{subTotal}}</strong></div>
    </div>
    <form>
        <p>SHIPPING</p>
        <select><option class="text-muted">Standard-Delivery- R 5.00</option></select>
        <p>GIVE CODE</p>
        <input id="code" placeholder="Enter your code">
    </form>
    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right"><strong>R {{subTotal + shipping + totalTax}}</strong> </div>
    </div>
    <button class="btn" >CHECKOUT</button>
</footer>