.btn {
  display: inline-block;
  background-color: #000;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px 0;
  transition: all 0.5s;
  width: 100%;
  text-align: center;
  align-items: center;

  &.c1{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(5, 170, 19);
    border-radius: 0;
    text-transform: uppercase;
  }
  cursor: pointer;
  }
  .btn:hover {
    background-color: #0b0c0a;
  }
.button {
    border: 2px solid #E1E8EE;
    border-radius: 6px;
    padding: 13px 20px;
    font-size: 14px;
    color: #5E6977;
    background-color: #fff;
    cursor: pointer;
    transition: all .5s;
  }