.user-icon-container{
    position: relative;
    .user-icon{
      font-size: 30px;
      text-align: center;
    }
  
    .qty-counter{
      position: absolute;
      background: #e8edf7;
      border-top:2px solid #DF2E38;
      border-radius: 50%;
      top: -2px;
      left: 24px;
      font-weight: 500;
      color: #4e54c8;
      padding: 2px 5px;
    }
  
  
  .text-small{
    font-size: 12px;
  }
  .text-accent {
    color: #4e54c8 !important
  }
   
  }

  