<div class="align">

  <div class="grid align__item">

    <div class="sign-up p-40-v-xs p-30-h-xs">
      <div class="logo logo m-15-h-xs m-30-v-xs no-m-t">
        <a [routerLink]="['/home']">
            <img loading="lazy" src="assets/images/abo_store2.png">
        </a>
      </div>

      <h2 class="p-20-v-xs">Sign Up</h2>

      <form [formGroup]="singUpForm" class="form">

        <div class="form__field">
          <label class="input-label p-10-h-xs no-m-b">Name</label>
          <input formControlName = "name" type="text">
        </div>

        <div class="form__field">
          <label class="input-label p-10-h-xs no-m-b">Email</label>
          <input formControlName = "email" type="email">
        </div>

        <div class="form__field">
          <label class="input-label p-10-h-xs no-m-b">Password</label>
          <input formControlName="password" type="password">
        </div>

        <div class="form__field">
        <button class="signIn-button" (click)="signUp()">Sign Up</button>
      </div>

    </form>

    <p>Already have an accout? <a [routerLink]="['/sign-in']">Sign In</a></p>

  </div>

</div>
</div>
