<div class="container">
  <div>
    <h1>Existing Categories</h1>
    <button (click)="createCategory()" class="btn btn-success">Create New Category</button>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of (category$ | async) let i = index">
          <td>
            {{i+1}}
          </td>
          <td>
            {{c.name}}
          </td>

          <td>{{c.description}}</td>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="editCategory(c)">
              Edit
            </button>
            <button type="button" class="btn btn btn-sm btn-rounded" (click)="removeCategory(c._id)"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>