<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Current Users</h4>
                        <p class="card-category"> This shows users on the db</p>
                    </div>
                    <div class="card-body">
                           <app-table *ngIf="users.length > 0 " [theaders]="headers" [tbody]="users"></app-table>
                    </div>
                </div>
                <div class="btn btn-danger" (click)="add()">Add</div>
            </div>
        </div>
    </div>
  </div>