<div class="navigation-container p-20-v-xs p-15-h-xs">
    <i (click)="changeTheme()" class="icon icon-cogs"></i>
    <div class="logo m-15-h-xs no-margin-left-xs">
        <a [routerLink]="['/home']">
            <img loading="lazy" src="assets/images/abo_store2.png">
        </a>
    </div>
    <div class="menu-items">
        <div class="navigation-items">
            <a
               [routerLink]="[item.link]"
               *ngFor="let item of navMenuService.navigationLinks"
               routerLinkActive="active">
                <div *ngIf="item.displayLabel" class="m-15-h-xs p-15-h-xs p-5-v-xs ">
                    {{item.label}}
                </div>
                <i [class]="item?.icon" class="m-5-h-xs p-5-h-xs p-5-v-xs"></i>
            </a>
        </div>
      
    </div>
    <div class="mobi-menu-toggle">
        <div class="hamburger arrow"
             [class.is-active]="navMenuService.mobiMenuToggled"
             (click)="navMenuService.toggleMobiMenu()">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </div>
</div>
