<div class="navigation-container p-20-v-xs p-15-h-xs">
    <i (click)="changeTheme()" class="icon icon-cogs"></i>
    <div class="logo m-15-h-xs no-margin-left-xs">
        <a [routerLink]="['/home']">
            <img loading="lazy" src="assets/images/abo_store2.png">
        </a>
    </div>
    <div class="menu-items">
        <div class="navigation-items">
            <a
               [routerLink]="[item.link]"
               *ngFor="let item of navMenuService.navigationLinks"
               routerLinkActive="active">
                <div  class="m-15-h-xs p-5-v-xs ">
                  <span *ngIf="item.displayLabel"> {{item.label}}</span>
                    <i [class]="item?.icon" class="m-5-h-xs p-5-h-xs p-5-v-xs"></i>
                </div>
            </a>
            <div class="d-flex flex-column cart-container">
            <div class="cart-content">
              <abo-cart-icon cart-dropdown  [routerLink]="['/cart']"></abo-cart-icon>
            </div>
            <abo-cart-dropdown *showHide="cartService.cartDropdown"  class="cart-dropdown"></abo-cart-dropdown>
          </div>
        </div>
        <div class="d-flex text-left">
            <span *ngFor="let dep of navMenuService.departments | slice:0:8" class="dep m-5-h-xs p-5-h-xs p-5-v-xs">
              {{dep.name}}
            </span>
        </div>

    </div>
    <div class="mobi-menu-toggle">
        <div class="hamburger arrow"
             [class.is-active]="navMenuService.mobiMenuToggled"
             (click)="navMenuService.toggleMobiMenu()">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </div>
</div>
