
<h1>Dashboard </h1>
        <div class="content mat-elevation-z8">
            <div class="container">
                <div class="row">                    
                    <div class="col-xs-12 mt-20">
                        <a [routerLink]="['/admin/departments']">Department</a>
                        
                    </div>
                    <div class="col-xs-12 mt-20">
                        <a [routerLink]="['/admin/categories']">Categories</a>
                        
                    </div>
                    <div class="col-xs-12 mt-20">
                        <a [routerLink]="['/admin/products']">Products</a>
                        
                    </div>
                </div>
            </div>
        </div>

