<div class="container-fluid">
	<div class="row">
<section class="mystyle-products">
    <div class="product">
      <a href="14-single-product.html">
          <span class="onsale">Sale!</span>
          <img alt="" class="attachment-shop_catalog " [src]="product.imagePath" />
          <h3 class="product-title m-10-v-xs m-20-v-xs">{{product.title}}</h3>
          <span class="price">
              <del> <span class="amount">{{product.price}}</span> </del>
              <ins> <span class="amount">{{product.price * 0.33}}</span> </ins>
              <span class="sale-tag sale-tag-square">-33%</span>
          </span>
      </a>
      <a class="button add_to_cart_button product_type_simple" rel="nofollow" href="#">
          {{product.description}}
      </a>
      <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    </div>
  </section>
   	</div>
</div>
