<mat-sidenav-container class="site-container" (swipe)="swipeLeft">
    <mat-sidenav #sidenav class="d-xl-none" mode="over" (swipe)="swipeLeft" (closed)="navMenuService.closeMobiMenu()"
        [opened]="navMenuService.mobiMenuToggled">
        <abo-navigation-menu-mobi></abo-navigation-menu-mobi>
    </mat-sidenav>
    <mat-sidenav-content class="m-xl-0" (swipe)="swipeLeft">
        <div class="site-wrapper" [class.menu-is-open]="navMenuService.mobiMenuToggled">
            <div class="navigation-wrapper">
                <abo-navigation-menu class="header-container"></abo-navigation-menu>
            </div>
            <div class="content-container padding-h-4-xs">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>