
    <mat-form [formGroup]="formGroup">
    <mat-form-field class="example-full-width">
      <mat-label>{{label}}</mat-label>
      <input [type]="type" matInput [formControl]="controlName" [errorStateMatcher]="matcher" (ngModelChange)="onChangeValue($event)"
             [placeholder]="placeholder">
      <mat-hint>{{hint}}</mat-hint>
      <mat-error *ngIf="controlName.hasError('{{type}}') && !controlName.hasError('required')">
        {{errorMessage}}
      </mat-error>
      <mat-error *ngIf="controlName.hasError('required')">
        This is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </mat-form>
  
  