@import'./main-mobi.scss';
@import'./main.scss';
@import './constants.scss';
$header-container: 1440px;
$header-height: 90px;
$content-container: 1170px;

$brand-font: 'Helvetica Neue';
$sub-font:'Roboto';

$screen-sm-min:480px;
$screen-md-min:768px;
$screen-lg-min:990px;

  .float-left-lg {
    float: left !important;
  }
  .float-right-lg {
    float: right !important;
  }
  .float-none-lg {
    float: none;
  }
  .text-right-lg {
    text-align: right;
  }
