<div class="d-flex flex-column m-15-h-xs p-5-v-xs shopping-icon-container"  >
  <div class="d-flex" [routerLink]="['/cart']">
    <div class="d-flex flex-column">
      <i [class]="'icon icon-shopping-cart shopping-icon'" class="m-5-h-xs p-5-h-xs p-5-v-xs"></i>
      <span class="qty-counter"> {{ (cartQty$ | async) }}</span>
    </div>
    <div class="d-flex flex-column">
      <span class="my-cart">My Cart</span>
      <span class="text-accent">{{(cartTotal$ | async)}}</span>
    </div>
  </div>
  <abo-cart-dropdown class="cart-dropdown-content"></abo-cart-dropdown>
</div>
