.shopping-icon-container{
  position: relative;
  .shopping-icon{
    font-size: 20px;
  }

  .qty-counter{
    position: absolute;
    background: #FFF;
    border-radius: 50%;
    padding:3px;
    top: 0.6em;
    left: 1.8em;
    font-size: 14px;
    font-weight: 700;
    color:#000000;
  }


.cart-dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 320px;
  box-shadow: 0px 8px 16px 0px tgba(0,0,0,0.2);
}

.my-cart{
  font-size: 12px;
}

.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: .125rem
}
}
.shopping-icon-container:hover  .cart-dropdown-content{
  display: block;
}
