:root {
    --breakpoint-xs: 600px;
    --breakpoint-sm: 768px;
    --red: #e41919;
  }
    .product {
      position: relative;
      width: 100%;
      margin:20px 0;
      position: relative;
      background: #fff;
      height: 480px;
      .img-container{
        display: flex;
        padding-bottom: 20px;
        height: 280px;
        align-self: center;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        img{
          display: block;
          object-fit:contain;
          max-width: 100%;
          max-height: 100%;
          width: auto;
          height: auto;
          margin: auto;
          padding-top: 12px;
        }
      }

      .pro-details{
        display: flex;
        flex-direction: column;
        padding: 20px;

        h3 {
          &.product-title{
            overflow: hidden;
            font-size: 18px;
            font-weight: 500;
            color: #41464bba;
            line-height: 24px;
          }
        }
      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);
        z-index: 7;
 
      }
 
      .price {
        display: inline;
        .current-amount{
          font-size: 18px;
          text-decoration: none;
          font-weight: 700;
        }
        .discounted-amount{
          font-size: 12px;
          color: #4d4d4f;
          padding:0 10px;
          text-decoration: line-through;
        }
      }
    }
  }
  