<div class="product">
    <div (click)="onClick(product)">
        <!-- <span class="onsale">Sale!</span> -->
        <div class="d-flex">
            <span class="onsale">Sale!</span>
            <span class="discount">-33%</span>
            <span class="icon icon-heart"></span>
        </div>
        <img alt="" class="attachment-shop_catalog " [src]="product.image[0]" />
        <h3 class="product-title m-20-v-xs">{{product.title}}</h3>
        <span class="price">
            <ins> 
                <span class="amount">{{(product.price) | currency}}</span>
            </ins>
            <del> 
                <span class="amount">{{product.price | currency}}</span> 
            </del>
        </span>
    </div>
    <div class="m-20-v-xs">
        <abo-button (abo_click)="addToCart()"></abo-button>
    </div>
</div>
