<div class="create-course-panel data-form">

  <h2 class="title">Add New Department</h2>

    <mat-horizontal-stepper class="mat-elevation-z5"
                            labelPosition="bottom"
                            [linear]="true">

        <mat-step errorMessage="Course details in error">

            <ng-template matStepLabel>Department Details</ng-template>

            <abo-create-department-step-1></abo-create-department-step-1>

            <div class="stepper-buttons">

                <button mat-raised-button color="primary" matStepperNext>
                    Add Course Lessons
                </button>

            </div>

        </mat-step>

        <mat-step errorMessage="Course lessons in error">

            <ng-template matStepLabel>Step 2</ng-template>

            <abo-create-department-step-2></abo-create-department-step-2>

            <div class="stepper-buttons">

                <button mat-raised-button matStepperPrevious>Back</button>

                <button mat-raised-button color="accent">Create Course</button>

            </div>

        </mat-step>
        <mat-step errorMessage="Course lessons in error">

            <ng-template matStepLabel>Step 3</ng-template>

            <abo-create-department-step-2></abo-create-department-step-2>

            <div class="stepper-buttons">

                <button mat-raised-button matStepperPrevious>Back</button>

                <button mat-raised-button color="accent">Create Course</button>

            </div>

        </mat-step>
        <mat-step errorMessage="Course lessons in error">

            <ng-template matStepLabel>Step 4 </ng-template>

            <abo-create-department-step-2></abo-create-department-step-2>

            <div class="stepper-buttons">

                <button mat-raised-button matStepperPrevious>Back</button>

                <button mat-raised-button color="accent">Create Course</button>

            </div>

        </mat-step>

    </mat-horizontal-stepper>


</div>


