
h2 {
  font-family: "Roboto";
}
.buttons-container{
  display: flex;
  width:100%;
  margin:20px 0;
}

.scrolling-space {
  width: 100%;
  height: 500px;
}

.data-form {
  max-width: 600px;
  margin: 40px auto;
}

.stepper-buttons {
  margin-top: 10px;
}

.stepper-buttons button {
  margin-right: 5px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.ml-20{
  margin-left: 20px;
}

.mr-20{
  margin-right: 20px;
}

