<div class="content">
  <div>
    <h1>Existing Departments</h1>
    <button type="button"  (click)="addNewDepartment()" class="btn btn-success">Add New Department</button>
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of (departments$ | async) let i = index">
          <td>
            {{i+1}}
          </td>
          <td>
            {{d.name}}
          </td>

          <td>{{d.description}}</td>
          <td>
            <button type="button" class="btn btn-link btn-sm btn-rounded" (click)="editDepartment(d)">
              Edit
            </button>
            <button type="button" class="btn btn btn-sm btn-rounded" (click)="removeDepartment(d._id)"><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>