<div class="container">
    <div class="row add-product-container">
        <h1>Add New Product</h1>
        <form (ngSubmit)="onSubmit()" #productForm="ngForm">
            <div class="form-group">
                <label for="title">Product Title</label>
                <input type="text" class="form-control" id="title" required [(ngModel)]="product.title" name="title"
                    #title="ngModel">
                <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                    Product title is required
                </div>
            </div>

            <div class="form-group">
                <label for="des">Description</label>
                <input type="text" class="form-control" id="des" [(ngModel)]="product.description" name="des"
                    #des="ngModel">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success" [disabled]="!productForm.form.valid">{{isEditMode ?
                    'Update':'Submit'}}</button>
                <button type="button" class="btn btn-default" (click)="clearForm()">Reset</button>

            </div>
        </form>
    </div>


</div>

<!-- 
    <mat-form-field>

        <mat-select formControlName="category" placeholder="Select category">

            <mat-option>None</mat-option>

            <mat-optgroup label="Beginners">

                <mat-option value="newprogramming">New To Programming</mat-option>
                <mat-option value="newjavascript">New To Javascript</mat-option>
                <mat-option value="newangular">New To Angular</mat-option>

            </mat-optgroup>

            <mat-option value="INTERMEDIATE">Intermediate</mat-option>
            <mat-option value="ADVANCED">Advanced</mat-option>

        </mat-select>

    </mat-form-field> -->