<div class="container">
    <div class="row add-product-container">
        <h1>{{isEditMode ? 'Update Exisiting Product':'Add New Product'}}</h1>
        <form  [formGroup]="formProduct">
            <div class="form-group">
                <label for="title">Product Title</label>
                <input type="text" class="form-control" id="title"  formControlName="title" name="title">
                <div  class="alert alert-danger" *ngIf="(formProduct.controls['title'].touched && formProduct.controls['title'].pristine) && !formProduct.controls['title'].valid">
                    Product title is required
                </div>
            </div>
            <div class="form-group">
                <label for="des">Description</label>
                <input type="text" class="form-control" id="des" formControlName="description" name="description"
                >
            </div>
            <div class="buttons-container">
                <div class="">
                    <abo-button [theme]=" 'btn default' " buttonText="{{isEditMode ? 'Update':'Submit'}}" [disable]="!formProduct.valid" (abo_click)="onSubmit()"></abo-button>
                </div>
                <div class="ml-20">
                    <abo-button [theme]=" 'btn default' " (abo_click)="clearForm()" buttonText="Reset"></abo-button>                    
                </div>
            </div>
            <pre>{{data | json }}</pre>
        </form>
    </div>
</div>
