  
    .onsale {
        z-index: 6;
        position: absolute;
        top:0;
        left:0;
        padding: 2px 10px;
        background: #e41919;
        color: #fff;
        box-shadow: -1px 2px 3px rgba(0, 0, 0, .3);
        border-radius: 0 5px 5px 0;
        height: 25px;
        line-height: 25px;
        font-size: 0.8rem;
        font-weight: normal;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 0;
    
        &:before, &:after {
          content: "";
          position: absolute;
        }
    
        &:before {
          width: 7px;
          height: 33px;
          top: 0;
          left: -6.5px;
          padding: 0 0 7px;
          background: inherit;
          border-radius: 5px 0 0 5px;
        }
    
        &:after {
          width: 5px;
          height: 5px;
          bottom: -5px;
          left: -4.5px;
          border-radius: 5px 0 0 5px;
          background: #800;
        }
      }