<abo-main>
    <div class="container">
        <div class="row">
         
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 clo-xl-7">
                <div class="gallery-display-container">
                    <div class="thumb-container d-none d-sm-block">
                        <div class="thumb" *ngFor="let img of product.image" (click)="activeImage(img)"
                            (mouseenter)="activeImage(img)">
                            <img src="{{img}}" alt="">
                        </div>
                    </div>
                    <div class="main-img-container">
                        <img class="active" [src]="imagePath" alt="">
                    </div>
                </div>
            </div>
            <!-- Right Column -->
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">

                <!-- Product Description -->
                <div class="product-description">
                    <!-- <span>Headphones</span> -->
                    <h1>{{product.title}}</h1>
                </div>

                <!-- Product Configuration -->
                <div class="product-configuration">

                    <!-- Product Color  -->
            <!-- <form [formGroup]="colorForm" class="product-color" (change)="activeImage()">
                <span>Color</span>
                <div class="color-choose">
                    <div>
                        <input data-image="red" type="radio" id="red" name="color" value="red" formControlName="color">
                        <label for="red"><span></span></label>
                    </div>
                    <div>
                        <input data-image="blue" type="radio" id="blue" name="color" value="blue" formControlName="color">
                        <label for="blue"><span></span></label>
                    </div>
                    <div>
                        <input data-image="black" type="radio" id="black" name="color" value="black" formControlName="color">
                        <label for="black"><span></span></label>
                    </div>
                </div>

            </form> -->
       
                    <!-- Cable Configuration -->
                    <!-- <div class="cable-config">
                        <span>Cable configuration</span>

                        <div class="cable-choose">
                            <button>Straight</button>
                            <button>Coiled</button>
                            <button>Long-coiled</button>
                        </div>

                        <a href="#">How to configurate your headphones</a>
                    </div>-->
                </div>

                <!-- Product Pricing -->
                <div class="product-price">
                    <span>{{product.price | currency}}</span>
                </div>
                <div class="m-20-v-xs">
                    <abo-button (abo_click)="addToCart()" theme=""></abo-button> 
                </div>
                <button type="button" class="btn btn-primary"
                    tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
                    Simple demo
                </button>
            </div>
        </div>
        <abo-dynamic-tabs-view [input]="moreProductDetails"></abo-dynamic-tabs-view>
    </div>
</abo-main>