<!--<div class="container-fluid">
	<div class="row">
<section class="mystyle-products">
    <h1>Is this shit showing</h1>
    <div class="product">
      <a (click)="wtf($event)">
          <span class="onsale">Sale!</span>
          <img alt="" class="attachment-shop_catalog " [src]="product.imagePath" />
          <h3 class="product-title m-20-v-xs">{{product.title}}</h3>
          <span class="price">
              <del> 
                  <span class="amount">{{product.price | currency}}</span> 
            </del>
            <ins> 
                <span class="amount">{{(product.price * 0.33) | currency}}</span>
            </ins>
            <span class="sale-tag sale-tag-square">-33%</span>
          </span>
      </a>
      <a class="button add_to_cart_button product_type_simple" rel="nofollow" (click)="wtf2($event)">
          {{product.description}}
      </a>
      <a (click)="wtf3($event)" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>
    </div>
  </section>
   	</div>
</div>-->
<main class="container">

    <!-- Left Column / Headphones Image -->
    <div class="left-column">
        <img class="active" [src]="imagePath" alt="">
    </div>


    <!-- Right Column -->
    <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
            <span>Headphones</span>
            <h1>Beats EP</h1>
            <p>The preferred choice of a vast range of acclaimed DJs. Punchy, bass-focused sound and high isolation. Sturdy headband and on-ear cushions suitable for live performance</p>
        </div>

        <!-- Product Configuration -->
        <div class="product-configuration">

            <!-- Product Color -->
            <form [formGroup]="colorForm" class="product-color" (change)="activeImage()">
                <span>Color</span>

                <div class="color-choose">
                    <div>
                        <input data-image="red" type="radio" id="red" name="color" value="red" formControlName="color">
                        <label for="red"><span></span></label>
                    </div>
                    <div>
                        <input data-image="blue" type="radio" id="blue" name="color" value="blue" formControlName="color">
                        <label for="blue"><span></span></label>
                    </div>
                    <div>
                        <input data-image="black" type="radio" id="black" name="color" value="black" formControlName="color">
                        <label for="black"><span></span></label>
                    </div>
                </div>

            </form>

            <!-- Cable Configuration -->
            <div class="cable-config">
                <span>Cable configuration</span>

                <div class="cable-choose">
                    <button>Straight</button>
                    <button>Coiled</button>
                    <button>Long-coiled</button>
                </div>

                <a href="#">How to configurate your headphones</a>
            </div>
        </div>

        <!-- Product Pricing -->
        <div class="product-price">
            <span>148$</span>
            <a href="#" class="cart-btn">Add to cart</a>
        </div>
    </div>
</main>
