<div (click)="$event.preventDefault()">
  <tabset>
    <tab *ngFor="let tabz of tabs"
         [heading]="tabz.title"
         [active]="tabz.active"
         (selectTab)="tabz.active = true"
         (deselect)="tabz.active = false"
         [disabled]="tabz.disabled"
         [removable]="tabz.removable"
         (removed)="removeTabHandler(tabz)"
         [customClass]="tabz.customClass">
         <ng-container *ngIf="isStringContent(tabz)">
          <div>
            <!-- Display string content -->
           <p>
            {{ tabz.content }}
           </p>
          </div>
        </ng-container>
        <ng-container *ngIf="isArrayContent(tabz)">
          <div>
            <!-- Display array content -->
            <ul>
              <li *ngFor="let item of tabz.content">{{ item }}</li>
            </ul>
          </div>
        </ng-container>
    </tab>
  </tabset>
</div>