
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'bootstrap/scss/bootstrap';
@import './assets/styles/globals.scss';
@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'node_modules/bootstrap/scss/_mixins.scss';
@import './assets/scss/modules/icon';

.logo {
  img {
    width: 200px;
  }
}
a{
  text-decoration: none;
}
.icon{
  align-self: center;
  cursor: pointer;
  &:hover{
    color:rgba(3, 3, 103, 0.92);
  }
}

.mat-mdc-snack-bar-container {
  &.info-snackbar {
    //--mdc-snackbar-container-color: #00396f;
    --mdc-snackbar-container-color: #cbdfff;
    --mat-mdc-snack-bar-button-color: #353a41;
    --mdc-snackbar-supporting-text-color: #353a41;
  }
  &.success-snackbar {
    //--mdc-snackbar-container-color: #084114;
    --mdc-snackbar-container-color: #9ff7b7;
    --mat-mdc-snack-bar-button-color: #353a41;
    --mdc-snackbar-supporting-text-color: #353a41;
  }
  &.error-snackbar {
    --mdc-snackbar-container-color: #ffd4d4;
    --mat-mdc-snack-bar-button-color: #353a41;
    --mdc-snackbar-supporting-text-color: #353a41;
  }
}
