@use "@angular/material" as mat;

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-legacy-component-themes($my-app-theme);

@import '~bootstrap/scss/bootstrap';
@import './assets/styles/globals.scss';
@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'node_modules/bootstrap/scss/_mixins.scss';
@import './assets/scss/modules/icon';
$white: #ffffff;
$black: #000000;
$primary1: #f7444e;
$primary2: #002c3e;
$textCol: #1f1f1f;

// import fonts -  font-family: 'Poppins', sans-serif and  font-family: 'Playfair Display', serif

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@mixin main-font {
  font-family: 'Poppins', sans-serif;
}

@mixin second-font {
  font-family: 'Playfair Display', serif;
}
:root {
  --background-color: #F7F5F2;
  --color-option-1: #2a9d8f;
  --color-option-2: #e9c46a;
  --color-option-3: #f4a261;
  --color-option-4: #e76f51;
  --color-option-5: #264653;
  --color-option-6: #ddd;
  --text-color: white;
  --button-background: var(--color-option-3);
 }
html, body { height: 100%;
//background-color: #ffffff; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo {
  img {
    width: 200px;
  }
}
a{
  text-decoration: none;
}
