
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AboStore-primary: mat.define-palette(mat.$indigo-palette);
$AboStore-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AboStore-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$AboStore-theme: mat.define-light-theme((
  color: (
    primary: $AboStore-primary,
    accent: $AboStore-accent,
    warn: $AboStore-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($AboStore-theme);

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies();
@include mat.legacy-core();

$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include mat.all-legacy-component-themes($my-app-theme);

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'bootstrap/scss/bootstrap';
@import './assets/styles/globals.scss';
@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'node_modules/bootstrap/scss/_mixins.scss';
@import './assets/scss/modules/icon';
$white: #ffffff;
$black: #000000;
$primary1: #f7444e;
$primary2: #002c3e;
$textCol: #1f1f1f;

@mixin main-font {
  font-family: 'Poppins', sans-serif;
}

@mixin second-font {
  font-family: 'Playfair Display', serif;
}
:root {
  --background-color: #F7F5F2;
  --color-option-1: #2a9d8f;
  --color-option-2: #e9c46a;
  --color-option-3: #f4a261;
  --color-option-4: #e76f51;
  --color-option-5: #264653;
  --color-option-6: #ddd;
  --text-color: white;
  --button-background: var(--color-option-3);
 }
html, body { height: 100%;
//background-color: #ffffff; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.logo {
  img {
    width: 200px;
  }
}
a{
  text-decoration: none;
}
.icon{
  align-self: center;
  cursor: pointer;
  &:hover{
    color:rgba(3, 3, 103, 0.92);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
