.cart-dropdown-cont{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 0;
  width:340px;
  max-width: 520px; /* Full width */
  background-color: #F7F5F2;
  margin:1rem;
  padding:1rem;

  .border-bottom{
    border-bottom:2px solid gray;
    border-width: medium;
  }
}
