
<div class=" cart-dropdown-cont" *ngIf="(totalItems$ | async) ?? 0 > 0">
    <div class="cart-content">
        <div class="row border-bottom align-items-center ptb-10" *ngFor="let i of cartItem" >
            <div class="col-3"><img class="img-fluid"  src="{{BUCKET_URI+i?.product?.image[0]}}"></div>
            <div class="col-9">
                <div class="product-title" (click)="goToProductView(i)">{{i?.product?.title}}</div>
                <div class="row">
                    <div class="col-10 product-meta"><span class="text-accent mr-2">{{i.product.price | currency }}</span><small class="text-muted pl-10">x {{i.qty}}</small></div>
                    <div (click)="removeItem(i)" class="col-3 icon icon-close remove-icon"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex footer">
        <span class="text-muted font-12">SubTotal:</span>
        <span class="text-accent pl-10"> {{cartModel.total | currency}}</span>
        <abo-button buttonText="Expand cart" theme="c2" class="expand-cart-btn" (abo_click)="expandCart()"></abo-button>
    </div>

    <abo-button buttonText="Check out"></abo-button>
</div>