

.cart-dropdown-cont{
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  right: 1rem;
  width:340px;
  max-width: 520px; /* Full width */
  margin-top:3rem;
  padding:1rem;
  background: #fff;
  border:1px solid #f1f1f1;
  border-radius: 7px;
  height:45%;

  .cart-content{
    margin: 1rem 0;
    max-height: 65%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 1;

    .ptb-10{
      padding:10px 0;
    }
  }

  .border-bottom{
    border-bottom:3px solid rgb(90, 90, 90);
  }
  .footer{
    align-items: center;

    .expand-cart-btn{
      margin:7px 0;
    }
    .total{
      color:green;
    }
  }

  .product-title{
    margin-bottom: .25rem;
    font-size: .875rem;
    font-weight: 500;
  }

  .product-title:hover{
    color: #E21818;
  }

  .product-meta{
    font-size: .875rem;
  }

  .text-accent {
    color: #4e54c8 !important
  }

  .pl-10{
    padding-left: 10px;
  }

  .remove-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e8edf7;
    padding: 0.3rem;
    font-size: 10px;
  }
  .remove-icon:hover{ 
    align-items: center;
    background-color: #cbcdd1;
    color: #DF2E38;}
    transition: ease-in;
}
